/JavaFX/AirportApp/AirportApp/nbproject/private/
/JavaFX/AirportApp/AirportApp/build/
/JavaFX/AirportApp/AirportApp/dist/
/JavaFX/Login/nbproject/private/
/JavaFX/Login/dist/
/JavaFX/Login/build/
/JavaFX/AddressBook/nbproject/private/
/JavaFX/HelloGluon/build/
/JavaFX/HelloGluon/.nb-gradle/
/JavaFX/SwitchScenes/nbproject/private/
/JavaFX/SwitchScenes/build/
/JavaFX/SwitchScenes/dist/
/JavaFX/AnnonInnerClass/nbproject/private/
/JavaFX/AnnonInnerClass/build/
/JavaFX/AnnonInnerClass/dist/
/JavaFX/LambdaExpr/nbproject/private/
/JavaFX/LambdaExpr/dist/
/JavaFX/LambdaExpr/build/
/JavaFX/AlertBoxes/nbproject/private/
/JavaFX/AlertBoxes/dist/
/JavaFX/AlertBoxes/build/
/JavaFX/LayoutEmbedding/nbproject/private/
/JavaFX/SimplePad/nbproject/private/
/JavaFX/GridPaneDemo/build/
/JavaFX/GridPaneDemo/dist/
/JavaFX/GridPaneDemo/nbproject/private/
/JavaFX/SimplePad/dist/
/JavaFX/SimplePad/build/
/JavaFX/ExtractValidateInput/nbproject/private/
/JavaFX/ExtractValidateInput/dist/
/JavaFX/ExtractValidateInput/build/
/JavaFX/AddressBook/build/
/JavaFX/AddressBook/dist/